* {
    margin-top: 10px;
}
.box1 {
    height: 40px;
    width: 135px;
    background-color: #de4a14d5;
    font-size: 20px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.box2 {
    height: 20px;
    width: 55px;
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
    left: 100px;
    bottom: 60px;
}